.text {
    min-height: calc(100vh - 56px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro-entry {
    font-size: 1.35rem;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.icon {
    font-size: 3rem;
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #202020;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-7px);
    }
}

.icon:hover {
    animation: bounce 0.5s ease-in-out;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .text {
        min-height: 70vh;
    }

    .intro-entry {
        font-size: 1.8rem;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .social-links {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .icon {
        font-size: 5rem;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .intro-entry {
        font-size: 1.8rem;
    }

    .text {
        text-align: left;
    }
}
