.text {
    min-height: calc(100vh - 56px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro-entry {
    font-size: 1.35rem;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.icon {
    display: inline-block;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    width: 2.25rem;
    height: 2.25rem;
    margin-top: 15px;
    margin-bottom: 15px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .text {
        min-height: 70vh;
    }

    .intro-entry {
        font-size: 1.8rem;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .social-links {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .icon {
        width: 3.25rem;
        height: 3.25rem;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .intro-entry {
        font-size: 1.8rem;
    }

    .text {
        text-align: left;
    }
}
