.story-container {
    min-height: calc(70vh - 25px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.story-entry {
    font-size: 1.1rem;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .story-entry {
        font-size: 1.5rem;
    }
}
