.story-container {
    min-height: calc(70vh - 25px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.story-entry {
    font-size: 1.1rem;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}
