.story-container {
    height: calc(100% - 5.5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.story-entry {
    font-size: 1.1rem;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}
