.project-container {
    width: 47.5%;
}

.project-title {
    color: #395fb2;
    margin-top: 0;
    margin-bottom: 7px;
    font-size: 1.75rem;
}

.project-summary {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.35rem;
    font-weight: bold;
}
