.work-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.work-date {
    font-size: 1rem;
    font-weight: normal;
    display: block;
    margin-bottom: 7px;
    align-items: center;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .work-date {
        font-size: 1.5rem;
    }
}
